#main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, red, blue);
}
#secondary{
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: #ff3345;
    width: 30%;
}
#login{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin-left: 50px;
    padding-left:10px;
    cursor: pointer;
    
}
#login:hover{
    background-color: black;
    color: white;
}