#padding{
    padding-left: 10px;
    padding-right: 10px;
}
#intro{
    width: 100%;
    display: flex;
}
#name {
    width:50%;
}
#info{
    width: 50%;
    text-align: right;
    font-size: 10px;
}

#intro-letter{
    color: gray;
}
#second-info{
    width: 100%;
    display: flex;
}

#employment{
    width: 68%;
}
#space{
    width: 4%;
}
#education{
    width: 28%;
}
#education-first{
    color:blue;
}
.general-gray{
    color:gray;
}
#third-part{
    display: flex;
    width: 100%;
}
.blue{
    color:blue;
}
.references{
    width: 30%;
}
.references1{
    width: 3%;

}