#main{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: cyan; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, aqua, gray);
}
#secondary{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color:gray;
    width: 30%;
}
#register{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin-left: 50px;
    padding-left:10px;
    cursor: pointer;
    
}
#login:hover{
    background-color: black;
    color: white;
}
#terms{
    color: aqua;
}